.empImg {
  border-radius: 50%;
}
.list {
  padding: 10px;
  height: calc(100vh - 210px);
}
.row { 
  border: 2px solid black;
  border-radius: 30px;
  /* background-color: #fff; */
  border-bottom: 1px solid #ebeced;
  text-align: left;
  margin: 5px 2px;
  display: flex;
  align-items: center;
}
.image {
  margin-right: 10px;
}
.content {
  padding: 10px;
}
.bg_red{background: #F66B6B !important;}
.reg_page .reg_page{border: 1px solid transparent;  border-radius: 25px !important; transition: 0.3s ease; display: block; padding: 11px 20px; margin: 0 auto; color: #fff; font-weight: bold;  }
.reg_page .reg_page:hover{background: #fff !important; border: solid 1px #F66B6B; color: #F66B6B;}

.pointer {
  cursor: pointer;
}